<div class="dialog-forms" *ngIf="costumer">
  <div class="buttons">
    <h2>{{ !costumer.id ? "Register" : "Edit" }}</h2>
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <div>
    <app-form #form>
      <div class="forms">
        <app-input
          [(ngModel)]="costumer.name!"
          label="Name"
          [required]="true"
          name="Name"
          ngDefaultControl
        >
          <span required>Name is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.document!"
          label="Document"
          [required]="true"
          name="Document"
          ngDefaultControl
          mask="000.000.000-00"
        >
          <span required>Document is required!</span>
          <span mask>Document is wrong!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.neighborhood!"
          label="Neighborhood"
          [required]="true"
          name="Neighborhood"
          ngDefaultControl
        >
          <span required>Neighborhood is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.street!"
          label="Street"
          [required]="true"
          name="Street"
          ngDefaultControl
        >
          <span required>Street is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.cep!"
          label="Cep"
          [required]="true"
          name="Cep"
          ngDefaultControl
          mask="00000-000"
        >
          <span required>Cep is required!</span>
          <span mask>Cep is wrong!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.email!"
          label="Email"
          [required]="true"
          name="Email"
          ngDefaultControl
          type="email"
        >
        </app-input>

        <app-input
          [(ngModel)]="costumer.phone!"
          label="Phone"
          [required]="true"
          name="Phone"
          ngDefaultControl
          mask="(00) 00000-0000"
        >
          <span required>Phone is required!</span>
          <span mask>Phone is wrong!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.phone_2!"
          label="Phone2"
          name="Phone2"
          ngDefaultControl
          mask="(00) 00000-0000"
        >
          <span mask>Phone is wrong!</span></app-input
        >
      </div>
    </app-form>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="saveCostumer(form)">Save</button>
  </div>
</div>
