<div class="dialog-forms" *ngIf="car">
  <div class="buttons">
    <h2>{{ !car.id ? "Register" : "Edit" }}</h2>
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <div>
    <app-form #form>
      <div class="forms">
        <app-input
          [(ngModel)]="car.license_plate!"
          label="License plate"
          [required]="true"
          name="License plate"
          ngDefaultControl
        >
          <span required>License plate is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="car.model!"
          label="Model"
          [required]="true"
          name="Model"
          ngDefaultControl
          type="combo"
          [options]="models$ | async"
        >
          <span required>Model is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="car.brand!"
          label="Brand"
          [required]="true"
          name="Brand"
          ngDefaultControl
          type="combo"
          [options]="brands$ | async"
        >
          <span required>Brand is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="car.year!"
          label="Year"
          [required]="true"
          name="Year"
          ngDefaultControl
          mask="0000"
          ><span required>Year is required!</span></app-input
        >

        <app-input
          [(ngModel)]="car.mileage!"
          label="Mileage"
          [required]="true"
          name="Mileage"
          ngDefaultControl
          type="number"
          ><span required>Mileage is required!</span></app-input
        >

        <app-input
          [(ngModel)]="car.color!"
          label="Color"
          [required]="true"
          name="Color"
          ngDefaultControl
          ><span required>Color is required!</span></app-input
        >
      </div>
    </app-form>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="saveCar(form)">
      Save
    </button>
  </div>
</div>
