<div class="title-administrative">
  <mat-icon>person</mat-icon>
  <h1>Costumers</h1>
</div>
<div class="header-administrative">
  <div>
    <app-filter-button>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput #input />
      </mat-form-field>
    </app-filter-button>
  </div>
  <div>
    <button mat-flat-button color="accent" (click)="openCostumer()">
      REGISTER
    </button>
  </div>
</div>
<ng-container *ngIf="costumers$ | async as costumers">
  <app-table [data]="costumers" [length]="costumers.length">
    <div t-head>Name</div>
    <div *tableItem="let item">{{ item.name | titlecase }}</div>

    <div t-head>Document</div>
    <div *tableItem="let item">{{ item.document | documentFormat }}</div>

    <div t-head>Cep</div>
    <div *tableItem="let item">{{ item.cep | cepFormat }}</div>

    <div t-head>Neighborhood</div>
    <div *tableItem="let item">{{ item.neighborhood }}</div>

    <div t-head>Street</div>
    <div *tableItem="let item">{{ item.street }}</div>

    <div t-head>House Number</div>
    <div *tableItem="let item">{{ item.house_number }}</div>

    <div t-head>Email</div>
    <div *tableItem="let item">{{ item.email }}</div>

    <div t-head>Phone</div>
    <div *tableItem="let item">{{ item.phone | phoneFormat }}</div>

    <div t-head>Action</div>
    <div *tableItem="let item">
      <button mat-mini-fab (click)="openCostumer(item)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </app-table>
</ng-container>
