@use "@angular/material" as mat;
@use "app/core/scss/build-theme.scss" as theme;

@include mat.core();

$primary: #739ecf;
$secondary: #2494ae;
$warn: #f00;

:root {
  --primary: #739ecf;
  --secondary: #2494ae;
}

$primary-color: theme.build($primary);
$secondary-color: theme.build($secondary);
$warn-color: theme.build($warn);

$AutoFrio-typography: mat.define-typography-config(
  $font-family: "Roboto",
);

$AutoFrio-primary: mat.define-palette($primary-color);
$AutoFrio-accent: mat.define-palette($secondary-color);

$AutoFrio-warn: mat.define-palette($warn-color);

$AutoFrio-theme: mat.define-light-theme(
  (
    color: (
      primary: $AutoFrio-primary,
      accent: $AutoFrio-accent,
      warn: $AutoFrio-warn,
    ),
    typography: $AutoFrio-typography,
  )
);

@include mat.all-component-themes($AutoFrio-theme);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0;
}

.container {
  height: 100%;
}

.dialog-forms {
  width: 650px;
  padding: 20px;

  .buttons {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.title-administrative {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    margin: 0;
  }
}

.header-administrative {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
