<table mat-table [dataSource]="dataSource" matSort>
  <ng-container
    [matColumnDef]="displayedColumns[i]"
    *ngFor="let item of headerProcessed; let i = index"
  >
    <th mat-header-cell *matHeaderCellDef>
      <span [innerHTML]="item.content?.nativeElement.innerHTML"></span>
    </th>

    <td class="body" mat-cell *matCellDef="let row; let index = index">
      <ng-container
        *ngIf="bodysProcessed"
        [ngTemplateOutlet]="bodysProcessed[i].templateRef"
        [ngTemplateOutletContext]="{ $implicit: row, index }"
      >
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="length"
  [pageSizeOptions]="pageSizeOptions"
  showFirstLastButtons
  (page)="(page)"
>
</mat-paginator>
