<div class="title">
  <mat-icon>person</mat-icon>
  <h1>Costumers</h1>
</div>
<div class="header">
  <div>
    <app-filter-button>
      <div class="content">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="costumerName" />
        </mat-form-field>

        <app-search-button (click)="getCostumersByName()"></app-search-button>
      </div>
    </app-filter-button>
  </div>
  <div>
    <button mat-flat-button color="accent">CADASTRAR</button>
  </div>
</div>
<ng-container *ngIf="costumers">
  <app-table [data]="costumers" [length]="costumers.length">
    <div t-head>ID</div>
    <div *tableItem="let item">{{ item.id }}</div>

    <div t-head>Name</div>
    <div *tableItem="let item">{{ item.name }}</div>

    <div t-head>Adress</div>
    <div *tableItem="let item">{{ item.address }}</div>

    <div t-head>Email</div>
    <div *tableItem="let item">{{ item.email }}</div>

    <div t-head>Telephone</div>
    <div *tableItem="let item">{{ item.telephone }}</div>

    <div t-head>Action</div>
    <div *tableItem="let item">
      <button mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </app-table>
</ng-container>
