<div class="container">
  <div class="title">
    <mat-icon>person</mat-icon>
    <h1>Costumers</h1>
  </div>
  <div class="header">
    <div>
      <app-filter-button>
        <div class="content">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput />
          </mat-form-field>

          <div class="content-buttons">
            <div>
              <mat-slide-toggle labelPosition="before">Status</mat-slide-toggle>
            </div>
            <app-search-button></app-search-button>
          </div>
        </div>
      </app-filter-button>
    </div>
    <div>
      <button mat-flat-button color="accent">CADASTRAR</button>
    </div>
  </div>
  <ng-container *ngIf="costumers">
    <app-table [data]="costumers" [length]="costumers.length">
      <div t-head>id</div>
      <div *TableItem="let item">{{ item.id }}</div>

      <div t-head>name</div>
      <div *TableItem="let item">{{ item.name }}</div>

      <div t-head>adress</div>
      <div *TableItem="let item">{{ item.adress }}</div>

      <div t-head>email</div>
      <div *TableItem="let item">{{ item.email }}</div>

      <div t-head>telephone</div>
      <div *TableItem="let item">{{ item.telephone }}</div>
    </app-table>
  </ng-container>
</div>
