<div class="dialog" *ngIf="costumer">
  <div class="buttons">
    <h2>{{ !costumer.id ? "Cadastrar" : "Editar" }}</h2>
    <button mat-button [mat-dialog-close]=""><mat-icon>close</mat-icon></button>
  </div>
  <div>
    <app-form #form>
      <div class="forms">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Nome do cliente"
            [(ngModel)]="costumer.name"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Endereço</mat-label>
          <input
            matInput
            placeholder="Endereço do cliente"
            [(ngModel)]="costumer.address"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Nome do cliente"
            [(ngModel)]="costumer.email"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            placeholder="Nome do cliente"
            [(ngModel)]="costumer.telephone"
            required
          />
        </mat-form-field>
      </div>
    </app-form>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button>Salvar</button>
  </div>
</div>
