<mat-form-field appearance="outline">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input
    matInput
    [placeholder]="placeholder"
    [required]="required"
    (input)="onInput($event)"
    [type]="type"
    [formControl]="formControl"
    [name]="label"
    [mask]="mask"
    *ngIf="
      type == 'text' ||
      type == 'email' ||
      type == 'password' ||
      type == 'color' ||
      type == 'number' ||
      type == 'time'
    "
  />

  <mat-select
    *ngIf="type == 'combo'"
    [required]="required"
    [formControl]="formControl"
    [placeholder]="placeholder"
  >
    <mat-option *ngFor="let option of options" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>

  <mat-error *ngIf="formControl.errors?.['required']">
    <ng-content select="[required]"></ng-content>
  </mat-error>

  <mat-error *ngIf="formControl.errors?.['mask']">
    <ng-content select="[mask]"></ng-content>
  </mat-error>
</mat-form-field>
