.dialog {
  width: 650px;
  padding: 20px;

  .buttons {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
