<div class="dialog" *ngIf="costumer">
  <div class="buttons">
    <h2>{{ !costumer.id ? "Register" : "Edit" }}</h2>
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <div>
    <app-form #form>
      <div class="forms">
        <app-input
          [(ngModel)]="costumer.name!"
          label="Name"
          [required]="true"
          name="Name"
          ngDefaultControl
        >
          <span required>Name is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.address!"
          label="Adress"
          [required]="true"
          name="Adress"
          ngDefaultControl
        >
          <span required>Adress is required!</span>
        </app-input>

        <app-input
          [(ngModel)]="costumer.email!"
          label="Email"
          [required]="true"
          name="Email"
          ngDefaultControl
          type="email"
        >
        </app-input>

        <app-input
          [(ngModel)]="costumer.telephone!"
          label="Telephone"
          [required]="true"
          name="Telephone"
          ngDefaultControl
          ><span required>Telephone is required!</span></app-input
        >
      </div>
    </app-form>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      (click)="saveCostumer(form)"
      [mat-dialog-close]="'ok'"
    >
      Save
    </button>
  </div>
</div>
